.dialog {
	overflow-y: auto;
	position: relative;
	width: 100%;
	max-width: 720px;
	max-height: calc(100vh - 140px);
	padding: 0 30px;
	background: transparent;
	border-radius: 8px;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.dialog::-webkit-scrollbar {
	display: none;
	width: 0;
	background: transparent;
}

.dialog::-webkit-scrollbar-track {
	background: transparent;
}

.dialog:focus {
	outline: none;
}