/// Buttons

.btn {
  transition: all 0.3s ease-out;
  cursor: pointer;

  &.btn__toggle-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;

    &:hover {
      opacity: 0.6;
    }

    span {
      transform: skew(15deg, 15deg);
      display: block;
      width: 50%;
      height: 2px;
      background-color: grey;

      &:nth-child(2) {
        margin-top: 4px;
      }
    }
  }
  .me > &.btn__toggle-contact {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: yellow;

    span {
      background-color: grey;
    }
  }
  .contact > &.btn__toggle-contact {
    position: relative;
    background-color: grey;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    span {
      background-color: $white;
    }
  }
}
