/// Buttons

.btn {
  display: inline-block;
  width: auto;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease-out;
  cursor: pointer;
  &.btn__round {
    border-radius: 50%;
  }
}
