/// Contact

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text__highlight {
    text-decoration: underline;
    text-decoration-color: $cyan;
    text-decoration-style: solid;
  }

  h1 {
    margin: 0;
  }

  mark {
    padding: 5px 10px;
    margin: mg(xxl) 0;
    border-radius: 3px;
    a {
      line-height: 1;
    }
  }

  .logo {
    svg {
      width: 80px;
      height: auto;

      path {
        fill: palette(grey);
        opacity: 0.4;
      }
    }
  }
}

.btn__toggle-contact {
  z-index: zi(top);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: yellow;
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }

  span {
    transform: skew(15deg, 15deg);
    display: block;
    width: 25px;
    height: 2px;
    background-color: grey;

    &:nth-child(2) {
      margin-top: 4px;
    }
  }
}
