/// Contact

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text__highlight {
    text-decoration: underline;
    text-decoration-color: $cyan;
    text-decoration-style: solid;
  }

  h1 {
    margin: 0;
  }

  mark {
    padding: 5px 10px;
    margin: mg(xxl) 0;
    border-radius: 3px;
    a {
      line-height: 1;
    }
  }

  .logo {
    svg {
      width: 80px;
      height: auto;

      path {
        fill: palette(grey);
        opacity: 0.4;
      }
    }
  }
}
