/// Logo

.logo {
  svg {
    width: auto;
  }

  svg path {
    fill: $fuchsia;
  }

  .me__header & {
    position: absolute;
    top: 20px;
    right: 20px;

    svg {
      height: 120px;
      opacity: 0.1;
    }
  }
}
