/// Logo

.logo {
  display: flex;
  align-self: center;
  svg path {
    fill: $fuchsia;
  }
  .page__index & {
    svg {
      width: auto;
      max-width: 90vw;
      height: 70vh;
      opacity: 0.5;
    }
  }
}
