/// Logo

.logo {
  display: flex;
  align-self: center;
  svg path {
    fill: $fuchsia;
  }
  .page__index & {
    svg {
      width: auto;
      max-width: 90vw;
      height: 50vh;
      opacity: 0.5;
      @media screen and (min-width: bp(md)) {
        height: 70vh;
      }
    }
  }
}
