/// Skills

.skills {
  display: inline-grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: bp(sm)) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: bp(lg)) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  grid-gap: 15px;
  width: 100%;
  padding: pd(xl) 0;
  .skill {
    position: relative;
    height: 70px;
    font-weight: fw(normal);
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all $transition-speed cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &.category__webdev {
      border-bottom: 2px solid $vivid-cyan;
    }
    &.category__frontend {
      border-bottom: 2px solid $vivid-cyan;
    }
    &.category__design {
      border-bottom: 2px solid $fuchsia;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $dark-grey;
      font-size: 1.6rem;
      line-height: 1;
      transform: translate(-50%, -50%);
    }
  }
}
