* {
  box-sizing: border-box;
}

html {
  @extend %root-size;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: $base__font-primary;
  font-weight: fw(thin);
  line-height: $base__line-height * 1.45;
  text-align: center;
  background: linear-gradient(.25turn, $color__primary, $color__primary);
}

.me {
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  min-height: 100vh;
}
