/// Base

* {
  box-sizing: border-box;
}

html {
  @extend %root-size;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  color: $white;
  font-family: $base__font-primary;
  font-weight: fw(thin);
  line-height: $base__line-height * 1.45;
  text-align: center;
  background: $colour__body-background;
}

.me {
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  height: 100%;
  min-height: 100vh;
  padding: 0 30px;
}
