$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$base__font-size: 1rem;

%px-base {
  font-size: $base__font-size;
}

$color__primary: #ff1458;
$color__secondary: #0000ff;

$base__margin: 1rem;

$margin: (
  xxs: $base__margin / 5,
  xs: $base__margin / 2,
  sm: $base__margin,
  md: $base__margin * 1.5,
  lg: $base__margin * 2,
  xl: $base__margin * 3,
  xxl: $base__margin * 4
);

$base__padding: 1rem;

$padding: (
  xxs: $base__padding / 5,
  xs: $base__padding / 2,
  sm: $base__padding,
  md: $base__padding * 1.5,
  lg: $base__padding * 2,
  xl: $base__padding * 3,
  xxl: $base__padding * 4
);

$transition-speed: 0.3s;
