/// Config

// Breakpoints map
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Root size
%root-size {
  font-size: 62.5%;
}

// Base font size and line height
$base__font-size: 1rem;
$base__line-height: 1;

// Local root size
%px-base {
  font-size: $base__font-size;
}
// Webfonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
// Font stacks
$base__font-primary: "Roboto Mono", sans-serif;
$base__font-secondary: "Roboto", sans-serif;
// Font weight
$font-weight: (
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700
);
// Margin
$base__margin: 1rem;
$margin: (
  xxs: $base__margin / 5,
  xs: $base__margin / 2,
  sm: $base__margin,
  md: $base__margin * 1.5,
  lg: $base__margin * 2,
  xl: $base__margin * 3,
  xxl: $base__margin * 4
);
// Padding
$base__padding: 1rem;
$padding: (
  xxs: $base__padding / 5,
  xs: $base__padding / 2,
  sm: $base__padding,
  md: $base__padding * 1.5,
  lg: $base__padding * 2,
  xl: $base__padding * 3,
  xxl: $base__padding * 4
);
// Transitions
$transition-speed: 0.3s;
