/// Header

.me__header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  .logo {
    position: absolute;
    top: 50%;
    width: 100px;
    height: auto;
    transform: translateY(-50%);
    svg path {
      fill: $fuchsia;
    }
  }
}
