/// Header

.me__header {
  grid-area: header;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: pd(lg) pd(xl);

  .logo {
    width: 40px;
    height: auto;
  }
}
