/// Audio Player

.audioplayer {
    padding: pd(lg);
    width: 100%;
    border: 1px solid $white;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
