.page__index {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    max-width: 500px;
  }
}

.btn.toggle-bio {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: blue;
  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: grey;
    transform: skew(15deg, 15deg);
  }
  span:nth-child(2) {
    margin-top: 4px;
  }
}
